* {
   padding: 0px;
    margin: 0px;
    border: 0px;
    /*font-family: 'Raleway', sans-serif;*/ 
}
/*NAVIGATION BAR*/
li, a, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: azure;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    background-color: #24252A;
}

h2.logo{
    height: 15px;
    width: 20px;
    cursor: pointer;
    margin-right: auto;
    color: white;
    line-height: 10px;
    margin-left: 10px;
    transition: 1s;
}
h2 span{
    color: aqua;
}
h2.logo:hover{
    color: aquamarine;
}

.menu{
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 0px 20px;
}
.menu li a{
    transition: 0.3s ease 0s;
}
.menu li a:hover{
    color: darkcyan;
}
#button1{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,139,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease 0s;     
}
#button1:hover{
    background-color: rgba(0, 65, 78, 0.8);
    box-shadow: 10px;
    border-radius: 25px;
    color: black;   
}
/* FOOTER HERE*/
.footer-head{
    justify-content: space-between;
    align-content: space-between;
    
}