* {
   padding: 0px;
    margin: 0px;
    border: 0px; 
}
/*BACKGROUNS */
.section1 {
    
    height: 100vh;
    background-image: url(DSC_0040.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}
.section2{
    
    background-image: url(plateau-4625455.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
.section3{
    
    background-image: url(heyyy.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}
.section4 {
    
   background-image: url(Love%20Themed%20Christian%20Wallpapers.png) fixed no-repeat center;
    width: 100%;
    height: 600px;
}
.section5 {
    background-color: lightblue;
    height: 600px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.section6 {
    background: teal;
    width: 100%;
    height: 600px;
    text-align: center;
}
/* BODY FORMATS */
body {
    font-family: sans-serif;
    font-style: italic;
    color: black; 
}
.boldtext { 
color: black;
text-align: center;
letter-spacing: 1px;
font-size: 40px;
padding: 250px 0 0px 0;
margin: 5px; 
}
img {
    width: 400px;
    height: 400px;
}
.button24 {
    height: 40px;
    width: 150px;
    background-color: red;
    font-size: 20px;
    border-radius: 20px
}
.table1{
    text-align: left;
    align-content: center;
    padding: 20px;
    border: 1px solid black;
    margin: 130px;
    font-size: large;
    font-weight: bold;
    width: 40%;
}
.layout{
    display: inline-flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.button2{
    background: #f4f4f4;
    color: darkturquoise;
    transform-box: 10px;
}
/*NAVIGATION BAR*/
li, a, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: azure;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    background-color: #24252A;
    
}

img.logo{
    height: 20px;
    width: 40px;
    cursor: pointer;
    margin-right: auto;
} 
.menu{
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 0px 20px;
}
.menu li a{
    transition: 0.3s ease 0s;
}
.menu li a:hover{
    color: darkcyan;
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,139,168,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease 0s;     
}
button:hover{
 background-color: rgba(0,139,168,0.8);   
}
/*Footer*/
.footer .footer-head{
    display: flex;
    background-color: red;
    justify-content: space-between;
    
}

.footer .footer-bottom{
    background-color: black;
    color: white;
}
